:root {
    --primary-color: #cbd3df;
    --secondary-color: #193247;
    --tertiary-color: #a8dadd;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: var(--primary-color);
    font-family: Arial, Helvetica, sans-serif;
    color: var(--secondary-color);
}
p {
    font-size: 30px;
}
header {
    background-color: var(--secondary-color);
    padding: 25px 30px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
header h1 {
    border: var(--tertiary-color) solid 5px;
    color: var(--tertiary-color);
    padding: 15px;
    margin: 30px;
    font-size: 45px;
    text-align: center;
}
header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;


}
header nav ul li a {
    color: var(--tertiary-color);
    text-decoration: none;
    padding: 30px;
    line-height: 1.5;
    font-size: 25px;
}
.hero {
    background-image: url("../images/hero-image.jpg");
    background-size: cover;
    padding: 80px;
    display: flex;
    justify-content: center;
}
.subtitle {
    background-color: var(--tertiary-color);
    padding: 15px;
    display: flex;
    align-items: center;
    font-size: 25px;
}
.subtitle img {
    width: 100px;
    flex-wrap: wrap;
    padding: 0;
}
.subtitle h2 {
    padding: 15px 20px;
}
section {
    padding: 30px;
}
.section-content {
    text-align: center;
}
.section-title {
    border-bottom: var(--secondary-color) solid 5px;
    font-size: 40px;
    text-align: center;
    padding-bottom: 15px;
    margin: 0 auto 20px auto;
    width: 50%;
}
.project-grid-wrapper p {
    background-color: var(--secondary-color);
    text-align: center;
    padding: 3px;
}
.grid-container {
    display: flex;
    grid-gap: 20px;
    flex-direction: column;
}
.grid-container > * {
    border: var(--secondary-color) solid 5px;
    display: flex;
    background-size: cover;
    height: 50vh;
}
.grid-container a {
    background-color: rgb(24, 50, 70, 0.66);
    color: var(--tertiary-color);
    text-decoration: none;
    padding-bottom: 0px;
    width: 100%;
}
.project-1 {
    grid-column: 1/ span 2;
    grid-row: 1/span 2;
    background-image: url("../images/project-1.jpeg");
}
.project-2 {
    grid-column:3;
    background-image: url("../images/project-2.jpg");
}
.project-3 {
    background-image: url("../images/project-3.jpg");
}
.project-4 {
    background-image: url("../images/project-4.jpg");
}
.project-5 {
    background-image: url("../images/project-5.jpg");
}
address {
    line-height: 2;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.contact-method {
    color: var(--tertiary-color);
    background-color: var(--secondary-color);
    padding: 5px;
    font-size: 20px;
    text-align: center;
    margin: 8px 50px;
}
address a {
    color: var(--tertiary-color);
    text-decoration: none;
}
/*MEDIA QUERIES*/

/*For desktops*/
@media screen and (min-width: 980px) {
    .grid-container {
        display: grid;
        grid-gap: 10px;
    }
    header {
        justify-content: space-between;
    }
    nav {
        display: flex;
        align-items: center;
    }
    section {
        display: flex;
    }
    .section-title {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        text-align: left;
        border-right: var(--secondary-color) solid 5px;
        border-bottom: none;
        padding: 10px;
        text-align: left;
        width: 15vw;
        border-right: var(--secondary-color) solid 15px;
        font-size: 25px;
    }
    .section-content {
        text-align: left;
        width: 85vw;
        padding-left: 60px;
    }
    .contact-method {
        padding-left: 0px;
        margin-left: 0px;
    }
    .grid-container {
        display: grid;
        grid-gap: 10px;
        width: 60vw;
        height: 60vw;
    }
    .grid-container a {
        transition: 1s;
    }
    .grid-container a:hover {
        background-color: transparent;
    }
    .grid-container > * {
        height: auto;
    }

}

/*For smaller desktops*/
@media screen and (min-width: 768px) {

}

/*For tablets*/
@media screen and (min-width: 575px) {
    /*todo*/
}